.s360x720 #jim-mobile {
  width: 470.0px;
}
.s360x720 #jim-mobile.landscape {
  width: 830.0px;
  height: 470.0px;
}
.s360x720 #jim-case {
  width: 470.0px;
  height: 830.0px;
}
.s360x720 #jim-container.portrait {
  position: absolute;
  top: 55px;
  left: 55px;
  width: 360.0px;
  height: 720.0px;
}
.s360x720 #jim-container.landscape {
  position: absolute;
  top: 55px;
  left: 55px;
  width: 720.0px;
  height: 360.0px;
}
.s360x720 #jim-case #jim-case-top-left {
  width: 55px;
  height: 55px;
  background-size: 55px 55px;
}
.s360x720 #jim-case #jim-case-top-center {
  width: 360.0px;
  height: 55px;
  background-size: 360.0px 55px;
  overflow: hidden;
}
.s360x720 #jim-case #jim-case-top-right {
  width: 55px;
  height: 55px;
  background-size: 55px 55px;
}
.s360x720 #jim-case #jim-case-center-left {
  width: 55px;
  height: 720.0px;
  background-size: 55px 720.0px;
}
.s360x720 #jim-case #jim-case-center-center {
  width: 360.0px;
  height: 720.0px;
}
.s360x720 #jim-case #jim-case-center-right {
  width: 55px;
  height: 720.0px;
  background-size: 55px 720.0px;
}
.s360x720 #jim-case #jim-case-bottom-left {
  width: 55px;
  height: 55px;
  background-size: 55px 55px;
}
.s360x720 #jim-case #jim-case-bottom-center {
  width: 360.0px;
  height: 55px;
  background-size: 360.0px 55px;
}
.s360x720 #jim-case #jim-case-bottom-right {
  width: 55px;
  height: 55px;
  background-size: 55px 55px;
}
.s360x720 #jim-case.landscape {
  transform-origin: 88.297874% 50% 0;
  -webkit-transform-origin: 88.297874% 50% 0;
  -moz-transform-origin: 88.297874% 50% 0;
  -ms-transform-origin: 88.297874% 50% 0;
}