#s-24b25c6b-785b-4de3-a635-7aed43730986 > #backgroundBox {
  position: absolute;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 720.0px;
  width: 100%;
  height: 100%;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Screen-bg {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Screen-bg {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Screen-bg > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Screen-bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Screen-bg .valign {
  vertical-align: middle;
  text-align: left;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Screen-bg span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Screen-bg span#rtr-s-Screen-bg_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Softkeys-bg {
  position: absolute;
  width: 100.0%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Softkeys-bg {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Softkeys-bg > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Softkeys-bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Square {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Square {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Circle {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Circle {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Triangle {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Triangle {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Bg {
  position: absolute;
  width: 100.0%;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-3.0px -0.0px 2.0px #A0A0A0);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Bg {
  box-shadow: -3.0px -0.0px 4px 0px #A0A0A0;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #6200EE;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Bg .paddingLayer:first-child {
  padding-top: 38px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-more-vertical {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-more-vertical {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-menu {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-menu {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Text {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Text {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Text .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Text .valign {
  vertical-align: middle;
  text-align: left;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Text span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Text span#rtr-s-Text_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Bg_status {
  position: absolute;
  width: 100.0%;
  min-height: 20.0px;
  opacity: 0.15;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Bg_status {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Bg_status > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Bg_status .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-hour {
  position: absolute;
  width: 46.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-hour {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-hour .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-hour span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-hour span#rtr-s-hour_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-signals {
  position: absolute;
  width: 61.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-signals {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_4 textarea::-webkit-input-placeholder {
  color: #808080;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_4 textarea::-moz-placeholder {
  color: #808080;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_4 textarea:-moz-placeholder {
  color: #808080;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_4 textarea:-ms-input-placeholder {
  color: #808080;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_4 {
  position: absolute;
  width: 95.0%;
  height: 166.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_4 {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_4 textarea {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_4 .paddingLayer:first-child {
  padding-top: 16px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 5px;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #shapewrapper-s-Line_7 marker {
  fill: #757575;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #shapewrapper-s-Line_7 {
  position: absolute;
  width: 342.0px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Line_7 {
  width: 342.0px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #757575;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Line_7 {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #shapewrapper-s-Line_8 marker {
  fill: #6200EE;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #shapewrapper-s-Line_8 {
  position: absolute;
  width: 342.0px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Line_8 {
  width: 342.0px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #6200EE;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Line_8 {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_5 textarea::-webkit-input-placeholder {
  color: #808080;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_5 textarea::-moz-placeholder {
  color: #808080;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_5 textarea:-moz-placeholder {
  color: #808080;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_5 textarea:-ms-input-placeholder {
  color: #808080;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_5 {
  position: absolute;
  width: 95.0%;
  height: 166.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_5 {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_5 textarea {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_5 .paddingLayer:first-child {
  padding-top: 16px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 5px;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #shapewrapper-s-Line_9 marker {
  fill: #757575;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #shapewrapper-s-Line_9 {
  position: absolute;
  width: 342.0px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Line_9 {
  width: 342.0px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #757575;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Line_9 {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #shapewrapper-s-Line_10 marker {
  fill: #6200EE;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #shapewrapper-s-Line_10 {
  position: absolute;
  width: 342.0px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Line_10 {
  width: 342.0px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #6200EE;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Line_10 {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_6 textarea::-webkit-input-placeholder {
  color: #808080;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_6 textarea::-moz-placeholder {
  color: #808080;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_6 textarea:-moz-placeholder {
  color: #808080;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_6 textarea:-ms-input-placeholder {
  color: #808080;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_6 {
  position: absolute;
  width: 95.0%;
  height: 166.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_6 {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_6 textarea {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Input_6 .paddingLayer:first-child {
  padding-top: 16px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 5px;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #shapewrapper-s-Line_11 marker {
  fill: #757575;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #shapewrapper-s-Line_11 {
  position: absolute;
  width: 342.0px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Line_11 {
  width: 342.0px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #757575;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Line_11 {
  box-shadow: none;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #shapewrapper-s-Line_12 marker {
  fill: #6200EE;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #shapewrapper-s-Line_12 {
  position: absolute;
  width: 342.0px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Line_12 {
  width: 342.0px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #6200EE;
}

_:-ms-fullscreen, :root #s-24b25c6b-785b-4de3-a635-7aed43730986 #s-Line_12 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-24b25c6b-785b-4de3-a635-7aed43730986 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
