#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  position: absolute;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 720.0px;
  width: 100%;
  height: 100%;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Screen-bg {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Screen-bg {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Screen-bg > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Screen-bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Screen-bg .valign {
  vertical-align: middle;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Screen-bg span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Screen-bg span#rtr-s-Screen-bg_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Softkeys-bg {
  position: absolute;
  width: 100.0%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Softkeys-bg {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Softkeys-bg > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Softkeys-bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Square {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Square {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Circle {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Circle {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Triangle {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Triangle {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg {
  position: absolute;
  width: 100.0%;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-3.0px -0.0px 2.0px #A0A0A0);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg {
  box-shadow: -3.0px -0.0px 4px 0px #A0A0A0;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #6200EE;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg .paddingLayer:first-child {
  padding-top: 38px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-more-vertical {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-more-vertical {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-menu {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-menu {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg_status {
  position: absolute;
  width: 100.0%;
  min-height: 20.0px;
  opacity: 0.15;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg_status {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg_status > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg_status .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-hour {
  position: absolute;
  width: 46.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-hour {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-hour .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-hour span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-hour span#rtr-s-hour_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-signals {
  position: absolute;
  width: 61.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-signals {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-flat_Button_disabled {
  position: absolute;
  width: 107.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-flat_Button_disabled {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-flat_Button_disabled > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-flat_Button_disabled > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-flat_Button_disabled > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-flat_Button_disabled .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-flat_Button_disabled .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-flat_Button_disabled span {
  color: #BDBDBD;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-flat_Button_disabled span#rtr-s-flat_Button_disabled_0 {
  color: #BDBDBD;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 {
  position: absolute;
  width: 310.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 .valign {
  vertical-align: middle;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 {
  position: absolute;
  width: 310.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 .valign {
  vertical-align: middle;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button {
  position: absolute;
  width: 310.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button > .backgroundLayer > .colorLayer {
  background-color: #6200EE;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button span#rtr-s-raised_Button_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_1 {
  position: absolute;
  width: 310.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_1 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_1 > .backgroundLayer > .colorLayer {
  background-color: #6200EE;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_1 span#rtr-s-raised_Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_2 {
  position: absolute;
  width: 250.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_2 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_2 > .backgroundLayer > .colorLayer {
  background-color: #6200EE;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-raised_Button_2 span#rtr-s-raised_Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  position: absolute;
  width: 178.50000000000003px;
  min-height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
